<div id="first">
  <p class="instruction">Get users profile and repos using username </p>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter username Eg. gracenyutu" [(ngModel)]="username" name="username" (keyup)="findUser()">
    </div>
  </form>
</div>

<div *ngIf="user">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{user.name}} <small>({{user.login}})</small>
      <span *ngIf="user.company">,Works at {{user.company}}</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{user.avatar_url}}" class="rounded-circle img-responsive" alt="Profile image">
        </div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item" *ngIf="user.bio">{{user.bio}}</li>
            <li class="list-group-item" *ngIf="user.public_repos">Has {{user.public_repos}} repositories.</li>
            <li class="list-group-item" *ngIf="user.hireable">Available for hire</li>
            <li class="list-group-item" *ngIf="user.email"><a href="{{user.email}}" target="_blank">{{user.email}}</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div>
            <p>
              <span class="btn btn-dark btn-sm">Public Repos:{{user.public_repos}}</span>
              <span class="btn btn-secondary btn-sm">Followers:{{user.followers}}</span>
              <span class="btn btn-info btn-sm">Followings:{{user.following}}</span>
              <span class="btn btn-primary btn-sm">Public Gists:{{user.public_gists}}</span>
            </p>
            <p><a href="{{user.html_url}}" target="_blank" class="btn btn-success">View profile on github</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
